#initially-showing
 {
  display: none;
}

.clickable{
  cursor: pointer;
  color: red;
}
.clickable:hover{
  text-decoration: underline;
}

/*#showing
  {
    display: none;
  }

.clickme {
  cursor: pointer;
  color: lightblue;
}

.clickme:hover {
  text-decoration:underline;
}*/
